@import "tailwindcss";

@theme inline {
  --color-hom-gold: #D4AF37;
  --color-hom-darkgold: #AA8C2C;
  --color-hom-black: #0a0a0a;
  --color-hom-lightblack: #1a1a1a;
  --font-bodoni: var(--font-bodoni), serif;
  --font-bodoni-sc: var(--font-bodoni-sc), serif;
  --font-inter: var(--font-inter), sans-serif;
  --font-sans: var(--font-inter), sans-serif;
  --font-playfair: var(--font-playfair), serif;
  --font-aboreto: var(--font-aboreto), sans-serif;
  --font-space-grotesk: var(--font-space-grotesk), sans-serif;
  --font-birthstone: var(--font-birthstone), cursive;
  --font-playfair-sc: var(--font-playfair-sc), serif;
  --font-tangerine: var(--font-tangerine), serif;
  --font-instrument-serif: var(--font-instrument-serif), serif;
  --font-noto-serif-display: var(--font-noto-serif-display), serif;
  --font-cormorant-garamond: var(--font-cormorant-garamond), serif;


}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;

  color: #000000;
  font-family: var(--font-sans);
}